{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <div class="text-center m-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add new video
        </button>
    </div>

    {% for row in video_list|sort((a, b) => b.year <=> a.year)|batch(4) %}
        <div class="row">
            {% for video in row %}
                <div class="col-md-3 mb-4">
                    <article class="bg-white rounded shadow p-3">
                        <div class="article">
                            <h3 class="text-center text-secondary font-weight-bold pb-3 m-0">
                                <a href="{{ path('app_player', {'path' : video.path}) }}" class="text-secondary text-decoration-none">{{ video.title }}</a>
                            </h3>
                            <div class="mw-100 rounded overflow-hidden mb-3">
                                <a href="{{ path('app_player', {'path' : video.path}) }}">
                                    <img src="{{ asset('/thumbnails/' ~ video.thumbnail) }}" alt="Image" class="w-100">
                                </a>
                            </div>
                        </div>
                        <div class="text-muted">
                            <small><b>{{ video.year }}</b></small>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(video_form) }}
                <div class="modal-body">
                    {{ form_widget(video_form) }}
                </div>
                <div class="modal-footer">
                    <div class="width-fit-content mx-auto">
                        <input type="submit" class="btn btn-primary" value="OK" formnovalidate>
                    </div>
                </div>
                {{ form_end(video_form) }}
            </div>
        </div>
    </div>
{% endblock %}
